# Data Cleaning

## Import packages

In [1]:
# Data manipulation
import numpy as np
import pandas as pd
import datetime as dt

# Data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Shows plots in jupyter notebook
%matplotlib inline

# Set plot style
sns.set(color_codes=True)

# Ignore warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
print('NumPy', np.__version__)
print('Pandas', pd.__version__)
print('Matplotlib', mpl.__version__)
print('Seaborn', sns.__version__)

NumPy 1.23.5
Pandas 2.0.1
Matplotlib 3.7.1
Seaborn 0.12.2

---
## Loading data with Pandas

In [4]:
# Open the three data sets
content_df = pd.read_csv('Content.csv', index_col=0)
reaction_df = pd.read_csv('Reactions.csv', index_col=0)
reaction_types_df = pd.read_csv('ReactionTypes.csv', index_col=0)

---
## Data description

### Content data

| Feature Name | Description |
|--------------|-------------|
| Content ID | Unique ID of the content that was uploaded (automatically generated) |
| User ID | Unique ID of a user that exists in the User table |
| Type | A string detailing the type of content that was uploaded |
| Category | A string detailing the category that this content is relevant to |
| URL | Link to the location where this content is stored |

### Reaction data

| Feature Name | Description |
|--------------|-------------|
| Content ID | Unique ID of a piece of content that was uploaded |
| User ID | Unique ID of a user that exists in the User table who reacted to this piece of content |
| Type | A string detailing the type of reaction this user gave |
| Datetime | The date and time of this reaction |

### ReactionTypes data

| Feature Name | Description |
|--------------|-------------|
| Type | A string detailing the type of reaction this user gave |
| Sentiment | A string detailing whether this type of reaction is considered as positive, negative or neutral |
| Score | This is a number calculated by Social Buzz that quantifies how “popular” each reaction is. A reaction type with a higher score should be considered as a more popular reaction. |

---
## Data exploration

### Content data

In [5]:
content_df.rename(columns={'Type': 'Type of Content'}, inplace=True)

In [6]:
content_df.head(1)

,Content ID,User ID,Type of Content,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...

In [7]:
content_df.shape

(1000, 5)

In [8]:
content_df.columns

Index(['Content ID', 'User ID', 'Type of Content', 'Category', 'URL'], dtype='object')

In [9]:
content_df = content_df[['Content ID', 'Type of Content', 'Category']]
content_df.head()

                             Content ID Type of Content        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2           photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810           photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f           photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6           photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180           video            food

### Reaction data

In [10]:
reaction_df.rename(columns={'Type': 'Type of Reaction'}, inplace=True)

In [11]:
reaction_df.head(1)

,Content ID,User ID,Type of Reaction,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15

In [12]:
reaction_df.shape

(25553, 4)

In [13]:
reaction_df.columns

Index(['Content ID', 'User ID', 'Type of Reaction', 'Datetime'], dtype='object')

In [14]:
reaction_df = reaction_df[['Content ID', 'User ID', 'Type of Reaction']]
reaction_df.head()

,Content ID,User ID,Type of Reaction
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust

### ReactionTypes data

In [15]:
reaction_types_df.rename(columns={'Type': 'Type of Reaction'}, inplace=True)

In [16]:
reaction_types_df.head(1)

  Type of Reaction Sentiment  Score
0            heart  positive     60

In [17]:
reaction_types_df.shape

(16, 3)

In [18]:
reaction_types_df.columns

Index(['Type of Reaction', 'Sentiment', 'Score'], dtype='object')

In [19]:
reaction_types_df = reaction_types_df[['Type of Reaction', 'Sentiment', 'Score']]
reaction_types_df.head()

  Type of Reaction Sentiment  Score
0            heart  positive     60
1             want  positive     70
2          disgust  negative      0
3             hate  negative      5
4       interested  positive     30

---
## Descriptive statistics of data

### Data types of columns

In [20]:
content_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Content ID       1000 non-null   object
 1   Type of Content  1000 non-null   object
 2   Category         1000 non-null   object
dtypes: object(3)
memory usage: 31.2+ KB

In [21]:
reaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25553 entries, 0 to 25552
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Content ID        25553 non-null  object
 1   User ID           22534 non-null  object
 2   Type of Reaction  24573 non-null  object
dtypes: object(3)
memory usage: 798.5+ KB

In [22]:
reaction_types_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Type of Reaction  16 non-null     object
 1   Sentiment         16 non-null     object
 2   Score             16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

### Statistics

In [23]:
content_df.describe(include='all')

                                  Content ID Type of Content    Category
count                                   1000            1000        1000
unique                                  1000               4          41
top     97522e57-d9ab-4bd6-97bf-c24d952602d2           photo  technology
freq                                       1             261          71

In [24]:
reaction_df.describe(include='all')

,Content ID,User ID,Type of Reaction
count,25553,22534,24573
unique,980,500,16
top,4b2d0fff-3b4f-43ca-a7df-c430479cb9ba,c76c3393-88e2-47b0-ac37-dc4f2053f5a5,heart
freq,49,65,1622

In [25]:
reaction_types_df.describe(include='all')

       Type of Reaction Sentiment      Score
count                16        16  16.000000
unique               16         3        NaN
top               heart  positive        NaN
freq                  1         9        NaN
mean                NaN       NaN  39.625000
std                 NaN       NaN  26.901983
min                 NaN       NaN   0.000000
25%                 NaN       NaN  14.250000
50%                 NaN       NaN  40.000000
75%                 NaN       NaN  66.250000
max                 NaN       NaN  75.000000

### Detect duplicate values

In [26]:
# Check the features that have duplicate values
print(content_df.duplicated().any())
content_df.duplicated().sum()

False

0

In [27]:
content_df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

- There are duplicate tags in the data set, such as 'Studying', 'studying', and '"studying"', or 'Science', 'science', and '"science"'.
- We need to unify these duplicate tags.
- We will do this by mapping every category to a lowercase version of itself without any quotes or special characters.

In [28]:
def category_fixer(row) :
    if '\'' in row or '\"' in row:
        row = row[1:-1].lower()
        return row
    else:
        row = row.lower()
        return row
    
content_df['Category'] = content_df['Category'].map(lambda row: category_fixer(row))
content_df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [29]:
content_df.duplicated().sum()

0

- There are no duplicate values in the dataset.

In [30]:
content_df.isna().sum().sum()

0

- There are no missing values in the dataframe.
- This is good news, as it saves us some time and effort. However, it is important to remember that this will not always be the case.
- In other dataset, there may be missing values, which will need to be addressed.

In [31]:
print(reaction_df.duplicated().any())
reaction_df.duplicated().sum()

True

146

In [32]:
print('Before duplicates are dropped, we have this many rows: ', reaction_df.shape[0])

reaction_df.drop_duplicates(inplace=True)
reaction_df.reset_index(drop=True, inplace=True)

print(' After duplicates are dropped, we have this many rows: ', reaction_df.shape[0])

Before duplicates are dropped, we have this many rows:  25553
 After duplicates are dropped, we have this many rows:  25407

In [33]:
reaction_df['Type of Reaction'].unique()

array([nan, 'disgust', 'dislike', 'scared', 'interested', 'peeking',
       'cherish', 'hate', 'love', 'indifferent', 'super love',
       'intrigued', 'worried', 'like', 'heart', 'want', 'adore'],
      dtype=object)

In [34]:
reaction_df.duplicated().sum()

0

- There are no duplicate values in the dataset.
- There is one value that is nan.
- This value will be addressed later.

In [35]:
reaction_df.isna().sum().sum()

3886

In [36]:
print('Before nulls are dropped, we have this many rows: ', reaction_df.shape[0])

reaction_df.dropna(inplace=True)
reaction_df.reset_index(drop=True, inplace=True)

print(' After nulls are dropped, we have this many rows: ', reaction_df.shape[0])

Before nulls are dropped, we have this many rows:  25407
 After nulls are dropped, we have this many rows:  22501

In [37]:
reaction_df.isna().sum().sum()

0

- There are no missing values in the dataset.

In [38]:
print(reaction_types_df.duplicated().any())
reaction_types_df.duplicated().sum()

False

0

In [39]:
reaction_types_df['Type of Reaction'].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

- There are no duplicate or nan values in the dataset.

In [40]:
reaction_types_df.isna().sum().sum()

0

- The dataset has no missing values.
- This does not mean that the data is clean and ready to go.
- Numerical features such as `Score` may contain incorrect values.
- The `Score` column should not contain negative values or values over 100.

In [41]:
scores = reaction_types_df['Score'].unique()
scores.sort()
print(scores)

[ 0  5 10 12 15 20 30 35 45 50 60 65 70 72 75]

- There are no out of range values in the `Score` column.
- There is no need to tweak any of the existing values.
- The data is prepared, we can create our final dataset.

---
## Merge the data

- The Content data will be joined to the Reaction data on the `Content ID` column.
- The ReactionTypes data will be joined to the resulting dataframe on the `Type of Reaction` column.

In [42]:
# Merge the dataset
final_df = pd.merge(reaction_df, reaction_types_df, on='Type of Reaction', how='inner')
final_df = pd.merge(final_df, content_df, on='Content ID', how='inner')

In [43]:
final_df.head()

,Content ID,User ID,Type of Reaction,Sentiment,Score,Type of Content,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,negative,0,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,negative,0,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,negative,0,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,negative,10,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,69532ce2-1ffe-4187-8042-0230d115b24e,dislike,negative,10,photo,studying

In [44]:
final_df.shape

(22501, 7)

In [45]:
final_df.columns

Index(['Content ID', 'User ID', 'Type of Reaction', 'Sentiment', 'Score',
       'Type of Content', 'Category'],
      dtype='object')

In [46]:
final_df.head()

,Content ID,User ID,Type of Reaction,Sentiment,Score,Type of Content,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,negative,0,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,negative,0,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,negative,0,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,negative,10,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,69532ce2-1ffe-4187-8042-0230d115b24e,dislike,negative,10,photo,studying

In [47]:
final_df['Sentiment'].unique()

array(['negative', 'positive', 'neutral'], dtype=object)

In [48]:
# Create a dictionary to map sentiment values to numeric values
sentiment_mapping = {
    'negative': -1,
    'positive': 1,
    'neutral': 0,
}

# Apply the sentiment mapping to the 'Sentiment' column
final_df['Sentiment'] = final_df['Sentiment'].apply(lambda x: sentiment_mapping[x])

In [49]:
# Calculate the total score for each category
final_df['Total Score'] = final_df['Score'] * final_df['Sentiment']

# Sort the data by total score and get the top 5 performing categories
top_5_categories = final_df.groupby('Category')['Total Score'].sum().sort_values(ascending=False).head(5)

# Print the top 5 categories
print(top_5_categories)

Category
animals           52874
science           51155
technology        50014
healthy eating    49884
food              48020
Name: Total Score, dtype: int64

- The dataframe will be saved to a CSV file.
- This file can be submitted and used later.

In [50]:
final_df.to_csv('clean_data.csv')